<%@ taglib prefix="s" uri="/struts-tags" %>
<%@include file="WEB-INF/jspf/header.jspf" %>
<h2>Registration reject</h2>

Dear user, your registration request has expired or there are other problems.

Please, try to register again and if the problem persist send an email to <a href="mailto:{{ idp.admin_email }}">the IdP Admin</a>.

<%@include file="WEB-INF/jspf/footer.jspf" %>
