# extended LDIF
#
# LDAPv3
# base <ou=Organisations,dc=local> with scope oneLevel
# filter: (objectclass=*)
# requesting: ALL
#

# Local
dn: dc=local
objectClass: dcObject
objectClass: organization
dc: local
o: {{ organisation }}

# Organisations, local
dn: ou=Organisations,dc=local
objectClass: top
objectClass: organizationalUnit
ou: Organisations

# policies, local
dn: ou=policies,dc=local
objectClass: top
objectClass: organizationalUnit
ou: policies

# People, local
dn: ou=People,dc=local
objectClass: organizationalUnit
objectClass: top
ou: People

# Services, local
dn: ou=Services,dc=local
objectClass: organizationalUnit
objectClass: top
ou: Services


