dn: olcDatabase={2}bdb,cn=config
changeType: modify
replace: olcSuffix
olcSuffix: dc=local
- replace: olcAccess
olcAccess: {0}to attrs=userPassword,shadowLastChange by self write by anonymous auth by dn="cn=-
replace: olcAccess
olcAccess: {1}to dn.base="" by * read
- replace: olcAccess
olcAccess: {2}to * by self write by dn="cn=admin,dc=local" write by group/groupOfUniqueNames/uniqueMember="-
replace: olcRootDN
olcRootDN: cn=admin,dc=local
- replace: olcRootPw
olcRootPw: {{ root_pass }} 
