SW_DIR=$VO_SW_DIR/ops
DEFAULT_SE=$DPM_HOST
QUEUES="sagrid"
VO_SAGRID_VOMS_SERVERS="vomss://voms.sagrid.ac.za:8443/voms/sagrid?/sagrid"
VO_SAGRID_VOMSES="'sagrid voms.sagrid.ac.za 15001 /C=IT/O=INFN/OU=Host/L=ZA-UFS/CN=voms.sagrid.ac.za sagrid'"
VO_SAGRID_VOMS_CA_DN="'/C=IT/O=INFN/CN=INFN CA'" 
