# Ingore munge keys
munge.key.*
# Ignore public/private x509 credential pairs
hostkey.pem*
# ignore editor backup files
*~
\#*
# ignore geany files
*debuglog*
# ignore docs dir - that's managed in the docs branch
docs/
