[submodule "Ansible/roles/jenkins-2.0"]
	path = Ansible/roles/jenkins-2.0
	url = https://github.com/Sci-GaIA/WinterSchoolCI
[submodule "Ansible/Containers/csgf-ide"]
	path = Ansible/Containers/csgf-ide
	url = https://github.com/brucellino/csgf-ide
[submodule "Ansible/roles/tomcat-8"]
	path = Ansible/roles/osct.tomcat-8
	url = https://github.com/osct/tomcat-8.git
[submodule "Ansible/roles/fgapiserver-role"]
	path = Ansible/roles/fgapiserver-role
	url = https://github.com/brucellino/fgapiserver-role
[submodule "Ansible/roles/cvmfs-client-2.2"]
	path = Ansible/roles/cvmfs-client-2.2
	url = https://github.com/AAROC/cvmfs-client-2.2
	branch = master
[submodule "Containers/Dockerfiles/umd-ui"]
	path = Containers/Dockerfiles/umd-ui
	url = https://github.com/AAROC/umd-ui
[submodule "Containers/Dockerfiles/AnsibleContainer"]
	path = Containers/Dockerfiles/AnsibleContainer
	url = https://github.com/AAROC/AnsibleContainer
[submodule "Containers/Dockerfiles/umd-wn"]
	path = Containers/Dockerfiles/umd-wn
	url = https://github.com/AAROC/umd-wn
[submodule "Ansible/roles/africagrid-ca"]
	path = Ansible/roles/africagrid-ca
	url = https://github.com/AAROC/africagrid-ca
[submodule "Ansible/roles/shibboleth-idp-v3"]
	path = Ansible/roles/shibboleth-idp-v3
	url = https://github.com/osct/shibboleth-idp-v3.git
[submodule "Containers/Dockerfiles/future-gateway-api-server"]
	path = Containers/Dockerfiles/future-gateway-api-server
	url = https://github.com/AAROC/future-gateway-api-server
[submodule "Ansible/roles/fgapi-db"]
	path = Ansible/roles/fgapi-db
	url = https://github.com/brucellino/fgapi-db
[submodule "Containers/future-gateway-db"]
	path = Containers/Dockerfiles/future-gateway-db
	url = https://github.com/AAROC/future-gateway-db
[submodule "Ansible/roles/harden-ssh"]
[submodule "Ansible/roles/AAROC.certificates"]
	path = Ansible/roles/AAROC.certificates
	url = https://github.com/AAROC/certificates
	branch = master
[submodule "Ansible/roles/mongrelion.ansible-role-docker"]
	path = Ansible/roles/mongrelion.ansible-role-docker
	url = https://github.com/mongrelion/ansible-role-docker
[submodule "Containers/Ansible-Container/CODE-RADE-build-containers"]
	path = Containers/Ansible-Container/CODE-RADE-build-containers
	url = https://github.com/AAROC/CODE-RADE-build-containers.git
[submodule "Containers/Ansible-Container/FutureGatewayDB"]
	path = Containers/Ansible-Container/FutureGatewayDB
	url = https://github.com/AAROC/FutureGatewayDB.git
[submodule "Containers/Ansible-Container/FutureGatewayStack-AC"]
	path = Containers/Ansible-Container/FutureGatewayStack-AC
	url = https://github.com/AAROC/FutureGatewayStack-AC.git
[submodule "Ansible/roles/CODE-RADE-jenkins-role"]
	path = Ansible/roles/CODE-RADE-jenkins-role
	url = https://github.com/AAROC/CODE-RADE-jenkins-role
	branch = master
