language: python
python:
- '2.7'
- pypy
sudo: true
addons:
  apt:
    packages:
    - python-pip
    - libssl-dev
before_install:
# Pull the containers you need for the tests
  # - docker pull ${BOOTSTRAP_CONTAINER}
  # - docker pull ${SITE_BDII_CONTAINER}
# basic connectivity test
# Test Bootstrap role
# Test Site-BDII playbook
install:
- pip install molecule
- pip install ansible
- pip install ansible-container[docker]
- ansible-container version
# The bootstrap role will always be tested
# Add the containers you need for the services you want to test here
script:
- cd Ansible
# check all the playbooks
- ansible-playbook --syntax-check ansible-executors.yml
- ansible-playbook --syntax-check CODE-RADE-jenkins-server.yml
- ansible-playbook --syntax-check cvmfs.yml
- ansible-playbook --syntax-check fts.yml
- ansible-playbook --syntax-check liferay-gridengine.yml
- ansible-playbook --syntax-check site.yml
- ansible-playbook --syntax-check wms.yml
- ansible-playbook --syntax-check argus.yml
- ansible-playbook --syntax-check code-rade-slave.yml
- ansible-playbook --syntax-check dirac.yml
- ansible-playbook --syntax-check new_user_into_ldap.yml
- ansible-playbook --syntax-check top-bdiis.yml
- ansible-playbook --syntax-check worker-nodes.yml
- ansible-playbook --syntax-check bashpocalypse_fix.yml
- ansible-playbook --syntax-check discourse-saml.yml
- ansible-playbook --syntax-check FutureGatewayDB.yml
- ansible-playbook --syntax-check ui-container.yml
- ansible-playbook --syntax-check xrootd.yml
- ansible-playbook --syntax-check bootstrap.yml
- ansible-playbook --syntax-check core-services.yml
- ansible-playbook --syntax-check docker-ui.yml
- ansible-playbook --syntax-check harden.yml
- ansible-playbook --syntax-check sanbi.yml
- ansible-playbook --syntax-check ui.yml
- ansible-playbook --syntax-check cream-ces.yml
- ansible-playbook --syntax-check etoken.yml
- ansible-playbook --syntax-check idp-ldap.yml
- ansible-playbook --syntax-check shibv3idp-ldap.yml
- ansible-playbook --syntax-check update-crls.yml
- ansible-playbook --syntax-check certificate-authority.yml
- ansible-playbook --syntax-check cvmfs-client-2.2.yml
- ansible-playbook --syntax-check FG-API-stack.yml
- ansible-playbook --syntax-check LagosMachines.yml
- ansible-playbook --syntax-check site-bdiis.yml
- ansible-playbook --syntax-check voms.yml
- ansible-playbook --syntax-check code-rade-build-slave.yml
- ansible-playbook --syntax-check cvmfs-static.yml
- ansible-playbook --syntax-check fg.yml
- ansible-playbook --syntax-check liferay-csgf.yml
- ansible-playbook --syntax-check site-check.yml
- ansible-playbook --syntax-check WinterSchoolCI.yml
- ansible-playbook --syntax-check ZA-UJ-start.yml
env:
  - INVENTORY=inventory.travis BOOTSTRAP_CONTAINER="aaroc/code-rade-sl6-ansible" SITE_BDII_CONTAINER="aaroc/site-bdii:centos6.8"
  - INVENTORY=inventory.travis BOOTSTRAP_CONTAINER="aaroc/code-rade-u1404-ansible" SITE_BDII_CONTAINER="aaroc/site-bdii:centos6.8"
notifications:
  email: false
  slack:
    rooms:
      - africa-arabia-roc:8bySc6HbbEvvxPYqg0Z56Xdk#code
