[project]
	description = Ansible playbooks that are used to deploy Grid services
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bruce Becker (brucellino)
[access "refs/for/refs/*"]
	read = group user/Bruce Becker (brucellino)
	push = group user/Bruce Becker (brucellino)
	label-Code-Review = -2..+2 group user/Bruce Becker (brucellino)
	label-Verified = -1..+1 group user/Bruce Becker (brucellino)
	rebase = group user/Bruce Becker (brucellino)
	removeReviewer = group user/Bruce Becker (brucellino)
	submit = group user/Bruce Becker (brucellino)
[access "refs/heads/*"]
	read = group user/Bruce Becker (brucellino)
	create = group user/Bruce Becker (brucellino)
	push = +force group user/Bruce Becker (brucellino)
	pushMerge = group user/Bruce Becker (brucellino)
[access "refs/tags/*"]
	push = +force group user/Bruce Becker (brucellino)
	pushTag = group user/Bruce Becker (brucellino)
	pushSignedTag = group user/Bruce Becker (brucellino)
