---
# - name: what is the name of the cluster head node ?
#   debug:
#     var: groups['cluster-head-nodes'][0]
#   tags:
#     - debug
# - name: what is the head node's ipv4 address ?
#   debug:
#     var: hostvars[groups['cluster-head-nodes'][0]].ansible_eth1.ipv4.address
#   tags:
#     - debug
- name: gather facts
  setup:

- name: Add head node IP to known hosts
  template:
    src: etc/ssh/shosts.equiv.j2
    dest: /etc/ssh/shosts.equiv
    owner: root
    group: root
  tags:
  - networking

- name: Setup known hosts for host-based authentication
  template:
    src: etc/ssh/ssh_known_hosts.j2
    dest: /etc/ssh/ssh_known_hosts
    owner: root
    group: root
    mode: 0644
  tags:
    - networking

- name: Enable host-based authentication
  template:
    src: etc/ssh/sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: 0644
  notify:
  - restart ssh
  tags:
  - ssh
  - networking

#- name: Enable host-based authentication
  #lineinfile: dest=/etc/ssh/sshd_config regexp="^#HostbasedAuthentication no" line="HostbasedAuthentication yes" backrefs=yes
  #notify:
  #- restart ssh
  #tags:
  #- networking

#- name: Enable rhosts for root
  #lineinfile: dest=/etc/ssh/sshd_config regexp="^#IgnoreRhosts yes" line="IgnoreRhosts no" backrefs=yes
  #notify:
  #- restart ssh
  #tags:
  #- networking

- name: quick debug of wn network config
  debug: "var={{ item }}"
  with_items:
    - site_domain
    - ansible_hostname
  tags:
    - debug

- name: Set worker node hostname
  hostname:
    name: "{{ ansible_hostname }}.{{ site_domain }}"
  tags:
    - networking

- debug:
    msg: "set host to  is {{ ansible_hostname }}.{{ site_domain }}"
  tags:
    - debug

- name: Create /etc/hosts template
  template:
    dest: /etc/hosts
    src: etc/hosts.j2
    owner: root
    group: root
    mode: 0644
  tags:
    - networking

- name: Enable ssh authorized keys (ansible)
  authorized_key:
    user: ansible
    key: "{{ lookup('file', '/home/ansible/.ssh/id_rsa.pub') }}"
  notify:
    - restart ssh


- name: Enable ssh authorized keys (root)
  authorized_key:
    user: root
    key: "{{ lookup('file', '/home/ansible/.ssh/id_rsa.pub') }}"
  notify:
    - restart ssh
