---
galaxy_info:
  author: Marco Fargetta 
  description: 
  company: INFN 
  license: BSD 
  min_ansible_version: 1.2
  
  platforms:
  - name: EL
    versions:
    - all
  - name: Ubuntu
    versions:
    - all
  - name: Debian
    versions:
      - all
  catetories:
  - web
dependencies: 
  - { role: fmarco76.firewall, ports: [{ port: 80, dport: 8080 }], table: nat, chain: PREROUTING }
  - { role: fmarco76.firewall, ports: [80], source_host_net: 0.0.0.0/0}
  
