---
# This set of tasks will configure java's keystore properly for you. If you have a certificate signed by a commercial CA
# such as Comodo, you should put it in files/cert.crt
# if you don't have a host certificate, we use this command to generate a new CSR which you can send to the CA and a
# self-signed certificate will be added to the keychain in the meantime

# Check if there is a certificate - this only works for v2.0 of Ansible
# - name: Check if there is a certificate locally
#   local_action:
#     module: find paths='files' patterns=*cer
#   register: local_cert

- name: Check if there is a certificate locally
  local_action:
    module: stat
    path: "roles/certificates/files/commercial/{{ hostvars[groups['shibboleth-idps'][0]]['ansible_fqdn'] | replace('.','_') }}_cert.cer"
  tags:
    - certificates
  register: have_cert

- name: Check if there is a key locally
  local_action:
    module: stat
    path: "roles/certificates/files/commercial/{{ hostvars[groups['shibboleth-idps'][0]]['ansible_fqdn'] | replace('.','_') }}.key"
  tags:
    - certificates
  register: have_key

- name: Define certificate status
  set_fact:
    cert: "{{ have_cert.stat.exists and have_key.stat.exists }} "
  tags:
    - certificates

- name: What is cert status ?
  debug: var=cert
  tags:
    - certificates

- name: Debug have cert
  debug:
    var: have_{{ item }}.stat.exists
  with_items:
    - cert
    - key
  tags:
    - certificates

############ <self-signed cert> ##################################
# these tasks were taken from the LDAP role security tasks
- name: Generate the private key for certificate request
  become: yes
  shell: "openssl genrsa -des3 -passout pass:{{ cert_password }} -out idp.key 1024"
  args:
    creates: idp.key
  when:  have_cert.stat.exists == False
  tags:
    - certificates

- name: Strip the passphrase from the key
  become: yes
  shell: "openssl rsa -in my.key -passin pass:{{ cert_password }} -out my.key"
  args:
    creates: my.key
  when: have_cert.stat.exists  == False
  tags:
    - certificates

- name: Create and sign the the new certificate
  become: yes
  shell: "openssl req -new -x509 -subj '/C={{ server_country }}/ST={{ server_state }}/L={{ server_location }}/O={{ server_organization }}/CN={{ ansible_hostname }}/' -days 3650 -key my.key -out cert.crt -extensions v3_ca"
  args:
    creates: cert.crt
  when: have_cert.stat.exists == False
  tags:
    - certificates

################## </Self-signed>#############################

################## <Cert in repo>############################
# These tasks get run when the cert actually exists locally.

- name: Extract the subject of the certificate
  local_action:
    module: command
    args: "/usr/bin/openssl x509 -noout -subject -in {{ lookup('env','PWD')}}/roles/certificates/files/commercial/{{ hostvars[groups['shibboleth-idps'][0]]['ansible_fqdn'] | replace('.','_') }}_cert.cer"
  register: cert_subject
  when: cert
#  ignore_errors: true
  changed_when: false
  tags:
    - certificates

- name: Debug subject
  debug:
    var: "{{ item | regex_replace('^.*N(.*)$' ) }}"
  with_items:
    - "cert_subject.stdout_lines"
  tags:
    - debug
  tags:
    - certificates

- name: debug CA certs variable
  debug:
    var: cert_CA_certificates
  tags:
    - certificates


- name: Push the intermediate and root cert
  copy:
    src: "roles/certificates/files/commercial/{{ item }}"
    dest: "{{ ansible_env.HOME }}/{{ item }}"
  with_items:
    - "{{ cert_CA_certificates }}"
  tags:
    - certificates

# TODO - this should be in a block

# # Does the p12 exist ?
# - name: Does the p12 exist ?
#   local_action:
#     module: stat
#     path: "{{ lookup('env','PWD') }}/roles/certificates/files/commercial/{{ hostvars[groups['shibboleth-idps'][0]]['ansible_fqdn'] | replace('.','_')}}.p12"
#   register: p12
#   when:  have_cert.stat.exists == False
#   tags:
#     - certificates
#
# - name: What's in p12?
#   debug:
#     var: p12
#   when: "p12.exists &&   have_cert.stat.exists == False"
#   tags:
#     - debug
#     - certificates
#
# - name: generate the p12
#   local_action:
#     module: command
#     args: "openssl pkcs12 -export -in {{ lookup('env','PWD')}}/roles/certificates/files/commercial/{{ hostvars[groups['shibboleth-idps'][0]]['ansible_fqdn'] | replace('.','_')}}_cert.cer -inkey {{ lookup('env','PWD')}}/roles/certificates/files/commercial/{{ hostvars[groups['shibboleth-idps'][0]]['ansible_fqdn'] | replace('.','_')}}.key  -out test.p12 -passout pass:password"
#   when: "{{ p12.stat.exists }} == false &&  have_cert.stat.exists == False"
#   tags:
#     - certificates
#
# - name: Push the p12
#   copy:
#     src: "test.p12"
#     dest: "{{ ansible_env.HOME }}/idp.p12"
#   tags:
#     - certificates
#
# - name: Add the cert to the keystore
#   command: "/usr/bin/keytool -noprompt  -importkeystore -srckeystore idp.p12 -destkeystore test.jks -srcstoretype pkcs12 -srcstorepass password -deststorepass password"
#
#   tags:
#     - certificates
#
# # If the certificate is not available, we need to generate a self-signed and add it to the keystore
# - name: Tell the admin that we're using self-signed
#   local_action:
#     module: set-fact
#     idp_status: test
#   when: cert == false
#   tags:
#     - certificates
#
#
# - name: Copy JKS generator script
#   template:
#     src: jks.expect.j2
#     dest: "{{ tomcat6_config_path }}/jks.expect"
#     mode: "u+x"
#   become: true
#   when: "{{ have_cert.stat.exists }} == false and {{ have_key.stat.exists }} == false"
#   tags:
#     - certificates
#
# - name: Create JKS for tomcat
#   become: yes
#   command: ./jks.expect
#   args:
#     creates: "{{ tomcat6_config_path }}/keystore.jks"
#     chdir: "{{ tomcat6_config_path }}"
#   when: have_cert.stat.exists == false and have_key.stat.exists == false
#   tags:
#     - certificates
