---
#- name: correct java version selected
# alternatives: name=java path=/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java

- name: Download the shibboleth package
  get_url: url={{ idp_url }}/{{ idp_version }}/{{ idp_package_name }}-{{ idp_version }}-bin.tar.gz dest=/tmp/{{ idp_package_name }}-{{ idp_version }}-bin.tar.gz

- name: Create the shibboleth installation directory
  sudo: True
  file: path={{ ansible_env.HOME }}/idp state=directory owner=ansible

- name: Unpack the tarball
  unarchive: src=/tmp/{{ idp_package_name }}-{{ idp_version }}-bin.tar.gz dest={{ ansible_env.HOME }}/idp creates={{ ansible_env.HOME }}/idp/{{ idp_package_name }}-{{ idp_version }}/install.sh copy=no

- name: Copy the installer
  template: src=install-shib.expect.j2 dest="{{ ansible_env.HOME }}/idp/{{ idp_package_name }}-{{ idp_version }}/install-shib.expect" mode="u+x"

- name: Install the package
  sudo: yes
  shell: "{{ ansible_env.HOME }}/idp/{{ idp_package_name }}-{{ idp_version }}/install-shib.expect chdir={{ ansible_env.HOME }}/idp/{{ idp_package_name }}-{{ idp_version }} creates={{ shibboleth_install_path }}/war/idp.war"
  environment: java_env

- name: Associate the correct owner
  sudo: yes
  file: path=/opt/shibboleth-idp owner={{ tomcat6_user }} state=directory recurse=yes
