QUEUES="biomed"
VOMS_SERVERS="https://cclcgvomsli01.in2p3.fr:8443/voms/biomed?/biomed/"
VOMSES="'biomed cclcgvomsli01.in2p3.fr 15000 /O=GRID-FR/C=FR/O=CNRS/OU=CC-IN2P3/CN=cclcgvomsli01.in2p3.fr biomed'"
VOMS_CA_DN="'/O=GRID-FR/C=FR/O=CNRS/OU=CC-IN2P3/CN=cclcgvomsli01.in2p3.fr' '/C=FR/O=CNRS/CN=GRID2-FR'"
