SW_DIR=$VO_SW_DIR/magrid
DEFAULT_SE=$DPM_HOST
QUEUES="magrid"
VOMS_SERVERS="vomss://voms.magrid.ma:8443/voms/magrid?/magrid"
VOMSES="'magrid voms.magrid.ma 15000 /C=MA/O=MaGrid/OU=CNRST/CN=voms.magrid.ma magrid'"
VOMS_CA_DN="'/C=MA/O=MaGrid/CN=MaGrid CA'"

