SW_DIR=$VO_SW_DIR/sagrid
DEFAULT_SE=$DPM_HOST
QUEUES="sagrid"
VOMS_SERVERS="vomss://voms.sagrid.ac.za:8443/voms/sagrid.ac.za"
VOMSES="sagrid voms.sagrid.ac.za 15001 /C=IT/O=INFN/OU=Host/L=ZA-UFS/CN=voms.sagrid.ac.za sagrid"
VOMS_CA_DN="/C=IT/O=INFN/CN=INFN CA"
