# We have three containers for the Future Gateway :
# 1. api-server - the container exposing the flask application which accepts job submission from the application
#    executes python (flask)
# 2. gridengine - SAGA-enabled web application running in tomcat, communicating with the computational backend.
#    executes java (tomcat)
# 3. db - persistent storage for the event engine.
#    executes mysql server

version: "1"
services:
  api-server:
    image: "python:2.7-wheezy"
    ports:
      - "8888:8888"
    working_dir: /tmp/fgapiserver
    command: ['python','fgapiserver.py']

  db:
    image: "{{ docker_sql_image }}"
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=changeme

  db-data-container:
    image: alpine
    
  tomcat:
    image: 'tomcat:7'
    ports:
      - 8080:8080

registries: {}
