{
        "token": "{{ slack_api_token }}",
        "discourseprefix": "{{ discourse_url }}",
        "discoursekey": "{{ discourse_api_token }}",
        "channels": {
{%- for channel in channel_params -%}
  {% for c in aaroc_channels.json.channels %}
    {%- if c.name == channel.name -%}
                              "{{ c.id }}": {
                                                "interval": "{{channel.interval}}",
                                                "maxmsg": {{ channel.maxmsg }},
                                                "search_over":["{{ channel.search_categories | default('sandbox') }}"],
                                                "create_topic_in": "{{ channel.topic_category}}"
                                                {% endif %}{% endfor %} } {% if not loop.last %}, {%endif%}{% endfor %}

        }
}
