# Set GLITE_LB_TYPE=bothif WMS and LB are hosted in the same machine
# Set GLITE_LB_TYPE=proxy if WMS is not co-hosted with LB server
GLITE_LB_TYPE={{ lb_proxy_type }}
{% if lb_proxy_type == 'both' %}
LB_HOST="{{ wms_host }}:9000"
{% endif %}
