# VOMS server hostname
#{% if is_voms -%}
#VOMS_HOST={{ voms_host  }}
#VOMS_DB_HOST={{ voms_db_host }}

#VOMS_ADMIN_SMTP_HOST={{ voms_admin_smtp_host  }}
#VOMS_ADMIN_MAIL={{ voms_admin_mail }}
#{% endif -%}
