{% if is_wms -%}
# Set LB_HOST="host1:port1 host2:port2 host3:port3"
# if more than one LB is installed on separate nodes
{% if is_both_wms_and_lb %}
LB_HOST="{{ wms_host }}:9000"
{% endif %}

# Set GLITE_LB_TYPE=bothif WMS and LB are hosted in the same machine
# Set GLITE_LB_TYPE=proxy if WMS is not co-hosted with LB server
{% if is_both_wms_and_lb %}
GLITE_LB_TYPE=both
{% endif %}
{% endif -%}
