{% if "dteam" in vos -%}
{% for number in range(200) -%}
{{ 35000 + number }}:dteam{{ 35000 + number }}:35000:dteam:dteam::
{% endfor -%}
{% for number in range(20) -%}
{{ 35800 + number }}:prddteam{{ 35800 + number }}:35800,35000:prddteam,dteam:dteam:prd:
{% endfor -%}
{% for number in range(20) -%}
{{ 35900 + number }}:sgmdteam{{ 35900 + number }}:35900,35000:sgmdteam,dteam:dteam:sgm:
{% endfor -%}
{% endif -%}
{% if "ops" in vos -%}
{% for number in range(200) -%}
{{ 34000 + number }}:ops{{ 34000 + number }}:34000:ops:ops::
{% endfor -%}
{% for number in range(20) -%}
{{ 34900 + number }}:sgmops{{ 34900 + number }}:34900,34000:sgmops,ops:ops:sgm:
{% endfor -%}
{% endif -%}