# known hosts file for the worker nodes
# /etc/ssh/ssh_known_hosts
# MANAGED BY ANSIBLE, DO NOT TOUCH

{% for host in  groups['cluster-head-nodes']  %}
{{ host }},{{ hostvars[host].ansible_default_ipv4.address }} ssh-dsa {{ hostvars[host].ansible_ssh_host_key_dsa_public }}
{{ host }},{{ hostvars[host].ansible_default_ipv4.address }} ssh-rsa {{ hostvars[host].ansible_ssh_host_key_rsa_public }}
{% endfor %}

{% for host in groups['all'] %}
{% if hostvars[host].ansible_ssh_host_key_dsa_public %}
{{ host }},{{ hostvars[host].ansible_default_ipv4.address }} ssh-dsa {{ hostvars[host].ansible_ssh_host_key_dsa_public }}
{% endif %}
{% if hostvars[host].ansible_ssh_host_key_rsa_public %}
{{ host }},{{ hostvars[host].ansible_default_ipv4.address }} ssh-rsa {{ hostvars[host].ansible_ssh_host_key_rsa_public }}
{% endif %}
{% endfor %}
