<%@ page pageEncoding="UTF-8" %>

                    </div>
            </div>
            <div class="footer">Brought to you by</div>
            <div class="footer">
                <!--span style="float:left; padding:5px;">
                 <a href=""><img src="img/" alt=""></a>
                </span-->
                <span style="float:right; padding: 5px 5px 5px 5px;">
                    <a href=""><img src="img/{{ organisation.logo }}" alt=""></a>
                </span>
                </div>
        </div>
    </body>
</html>
