{% if "dteam" in vos -%}
{% for number in range(1,2) -%}
{{ 18117 + number }}:dteam{{ number }}:2688:dteam:dteam::
{% endfor -%}
{% for number in range(1,2) -%}
{{ 50500 + number }}:prddteam{{ number }}:2689,2688:prddteam,dteam:dteam:prd
{% endfor -%}
{% for number in range(1,2) -%}
{{ 60500 + number }}:sgmdteam{{ number }}:2690,2688:sgmdteam,dteam:dteam:sgm
{% endfor -%}

{% endif -%}
{% if "ops" in vos -%}
{% for number in range(1,2) -%}
{{ 45000 + number }}:ops{{ number }}:45000:ops:ops::
{% endfor -%}
{% for number in range(1,2,1) -%}
{{ 60700 + number }}:sgmops{{  number }}:46001,45000:sgmops,ops:ops:sgm
{% endfor -%}
{% endif -%}

{% if "sagrid.ac.za" in vos -%}
{% for number in range(1,2) -%}
{{ 40000 + number }}:sa{{ number }}:4000:sa:sagrid.ac.za::
{% endfor -%}
{% for number in range(1,2) -%}
{{ 40100 + number }}:sgmsa{{ number }}:4100,4000:sg,sgmsa:sagrid.ac.za:sgm
{% endfor -%}
{% endif -%}

{% if "sagrid" in vos -%}
{% for number in range(1,2) -%}
{{ 50001 + number }}:sagrid{{ number }}:5000:sagrid:sagrid::
{% endfor -%}
{% for number in range(1,2) -%}
{{ 51001 + number }}:sgmsagrid{{ number }}:5100,5000:sgmsagrid,sagrid:sagrid:sgm
{% endfor -%}
{% endif -%}

{% if "magrid" in vos -%}
{% for number in range(1,2) -%}
{{ 70001 + number }}:magrid{{ number }}:7000:magrid:magrid::
{% endfor -%}
{% for number in range(1,2) -%}
{{ 71001 + number }}:sgmmagrid{{ number }}:7100,7000:sgmmagrid,magrid:magrid:sgm
{% endfor -%}
{% endif -%}

{% if "eumed" in vos -%}
{% for number in range(1,2) -%}
{{ 60001 + number }}:eumed{{ number }}:6000:eumed:eumed::
{% endfor -%}
{% for number in range(1,2) -%}
{{ 61001 + number }}:sgmeumed{{ number }}:6100,6000:sgmeumed,eumed:eumed:sgm
{% endfor -%}
{% endif -%}

{% if "atlas" in vos -%}
{% for number in range(1,2)}
{{ 10760 + number }}:atlas{{ number }}:1307:atlas:atlas::
{% endfor -%}
{% for number in range(1,2) }
{{ 50200 + number }}:prdatl{{ number }}:1308,1307:atlasprd,atlas:atlas:prd
{% endfor -%}
{% for number in range(1,2)}
{{ 55200 + number }}:pilatl{{ number }}:1310,1307:atlaspil,atlas:atlas:pilot
{% endfor -%}
{% for number in range(1,2)}
{{ 60200 + number }}:sgmatl{{ number }}:1309,1307:atlassgm,atlas:atlas:sgm
