# Set any ansible.cfg overrides in this file.
# See: https://docs.ansible.com/ansible/intro_configuration.html#explanation-of-values-by-section
[default]
roles_path = /home/becker/Ops/AAROC/DevOps/Ansible/roles
