---
# small playbook to talk to OpenStack and make machines
- hosts: localhost
  tasks:
    - name: get the cloud information
      os_client_config:
    - name: flava flava !
      os_flavor_facts:
    - name: Get server facts
      os_server_facts:
        server: "{{ vm_name | default('drill')}}"
        wait: yes
  # now you have openstack_servers
    - name: debug server facts
      debug:
        var: openstack_servers
    - name: Create a VM
      os_server:
        name: "{{ vm_name | default('drill')}}"
        state: "{{ state | default('present') }}"
        image: CentOS7
        image_exclude: deprecated
        flavor_ram: 4096
        auto_ip: yes
        userdata: |
          #cloud-config
          users:
            - name: drillbot
              sudo: ALL=(ALL) NOPASSWD:ALL
              ssh-authorized-keys:
                - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC+ajfknMIekBVAqGr8qVt49jmkwm54lriPDQO6TaHXueaR+ajkCvlTxmtNMv1sGmPdZKl8CMMZxvVekMKI/oWO+4ouZ4iVoAw6WP7GrbriF54O4uKb2QDgVz1KQv+zT2ofgh9rOzU+7oDMKVnRTOe/P2TNteG8zeE+z6vCd51TLMohBiw74N0vaM6LJthEjtpoyrD5NqksstYGdrKKVIu/Kyv6H0cc29lkuh8Ufb1PAkK4URKflJRLYHM2UZmQBncYknXqL5tHdpUKbLJdBX5ZZ2Vf4tG7+KUqf4YYNzuREyxHGQPcoPlIK1EnmnpApZXNxqda++KpAodwkHF3Kbe3 becker@serbaggio
          runcmd:
            - curl -X POST -d '''{"channel" ':' "#devops-foundry", "username" ':' "Ansible","text" ':' "{{vm_name}}  instantiated at area {{ lookup('env','OS_TENET_NAME')}} cloud", "icon_emoji"  ':' " ':'ansible':' " }''' https':'//hooks.slack.com/services/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
      register: newhost
    - name: Password, newcomer !
      debug:
        var: newhost.openstack.adminPass
    - name: Where my homies at ?
      debug:
        var: newhost.openstack.interface_ip
    - name: Add host to groups
      add_host:
        name: "{{ newhost.openstack.interface_ip }}"
        groups: just_created


- name: Talk to this new beast
  hosts: just_created
  remote_user: drillbot
  tasks:
    - ping:
