---
#- name: Configure the LDAP machine
#  hosts: ldap-servers
#  remote_user: ansible
#  sudo: true
#  roles:
#  - ldap

- name: Prepare the identity machine common environment
  hosts: shibboleth-idps
  remote_user: ansible
  roles: 
  - fmarco76.tomcat 
  - shibboleth-idp
