---
- hosts: site-bdiis
  name: Prepare the machine for yaim configuration
  sudo: true
  sudo_user: root
  vars_files:
    - roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml
    - roles/common/vars/middleware/IGTF
  roles:
    - common
    - umd
    - site-bdii
    - yaim
