---
- hosts: site-bdiis
  name: Configure the machine
  remote_user: ansible
  pre_tasks:
    - name: Include vars
      include_vars: "{{ item }}"
      with_items:
        - "roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
        - roles/common/vars/middleware/IGTF.yml
        - "group_vars/passwords-{{ site_name | lower }}.yml"
      tags:
        - pre-tasks
    - name: Get Site name
      debug:
        msg: "site is {{ site_name }}"
      tags:
        - debug
        - pre-tasks
    - name: Tell the team
      slack:
        token: "{{ slack_token }}"
        msg: "Starting the site-bdii play for {{ inventory_hostname }} !"
        username: "Ansible on {{ ansible_hostname }} at {{ site_name }}"
        icon_emoji: ansible
        validate_certs: false
        channel: "#{{ site_name }}-ops"
      tags:
        - slack
        - pre-tasks
  roles:
    - { role: common, become: true }
    - { role: umd, become: true }
    - { role: site-bdii, become: true }
    - { role: yaim, become: true, emi_service: BDII_site}
  post_tasks:
    - name: Restart firewall
      become: true
      service:
        name: "{{ item }}"
        state: restarted
      with_items:
        - ntpd
        - iptables
      tags:
        - post-tasks
    - name: Tell the team
      slack:
        token: "{{ slack_token }}"
        msg: "The site-bdii play for {{ inventory_hostname }} has finished !"
        username: "Ansible on {{ ansible_hostname }} at {{ site_name }}"
        icon_emoji: ansible
        validate_certs: false
        channel: "#{{ site_name }}-ops"
      tags:
        - slack
        - post-tasks

- name: Tests
  hosts: site-bdiis
  remote_user: ansible
  roles:
    - site-bdii-tests
  tags:
    - tests
