---
# - hosts: top-bdiis
#   name: Bootstrap the BDII machine
#   user: root
#   roles:
#     - bootstrap

- hosts: top-bdiis
  name: BDII_TOP plays
  pre_tasks:
    - action: setup
    - name: Include vars
      include_vars: "{{ item }}"
      with_items:
        - "roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
        - roles/common/vars/middleware/IGTF.yml
        - "group_vars/passwords-{{ site_name | lower }}.yml"
    - name: Tell the team
      slack:
        token: "{{ slack_token }}"
        msg: "Running top-bdii play at on {{ ansible_hostname }} at {{ site_name }}"
        username: "Ansible on {{ ansible_hostname }} at {{ site_name }}"
        validate_certs: False
        channel: "{{ slack_channel }}"
        icon_emoji: ansible
      tags:
        - slack
  roles:
    - { role: common, become: true, tags: "common"}
    - { role: certificates, become: true, tags: "certificates"}
    - { role: umd, become: true, tags: "umd" }
    - { role: top-bdii, become: true, tags: "top-bdii" }
    - { role: yaim, become: true, tags: "yaim" }
  post_tasks:
    - name: Tell the team
      slack:
        token: "{{ slack_token }}"
        msg: "top-bdii play at on {{ ansible_hostname }} at {{ site_name }} has finished  :micdrop:"
        username: "Ansible on {{ ansible_hostname }} at {{ site_name }}"
        validate_certs: False
        channel: "#{{ slack_channel }}"
        icon_emoji: ansible
      tags:
        - slack
    - name: Fix /etc/bdii/DB_CONFIG
      debug: msg="TODO. comment set_flags DB_LOG_INMEMORY set_flags DB_TXN_NOSYNC"
      tags:
        - debug
    - name: Start BDII if PID but Process dead.
      become: true
      service:
        name: bdii
        state: restarted
#      when: '"BDII slapd PID file exists but the process died" in bdiistatus'
      tags:
        - testing
  handlers:
    - include: roles/common/handlers/main.yml
