---
- hosts: top-bdiis
  user: ansible
  vars_files: 
    - roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml
    - roles/common/vars/middleware/igtf.yml
  roles:
  - bootstrap
  - common
  - umd3
  - top-bdii
  
- hosts: top-bdiis
  user: ansible
  roles:
  - yaim
