---
# - hosts: top-bdiis
#   name: Bootstrap the BDII machine
#   user: root
#   roles:
#     - bootstrap

- hosts: top-bdiis
  name: BDII_TOP plays
  user: ansible
  sudo: true
  roles:
    - common
    - certificates
    - umd
    - top-bdii
    - yaim
  vars_files:
    - roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml
    - roles/common/vars/middleware/igtf.yml
  handlers:
    - include: roles/common/handlers/main.yml
