# worker nodes playbook
# this assumes that you've already run the bootstrap role as root.

# since this is to manage the worker nodes, we are also assuming that they are on a local network
# and that you can happily ssh to them as root
---
- hosts: worker-nodes
  name: get facts
  user: root
  tasks:
    - setup:
  gather_facts: true

- hosts: cluster-head-nodes
  name: Look up local facts and create key vars file
  connection: local
  tasks:
  - setup:
  - debug: msg="key is {{ ansible_ssh_host_key_rsa_public }} "
  - local_action: lineinfile dest=roles/worker-node/vars/public_keys.yml line="public_keys{{':'}} ssh-rsa {{ ansible_ssh_host_key_rsa_public }} ansible@{{ ansible_hostname }}" state=present create=yes
- hosts: worker-nodes
  name: Create .shosts file for host-based authentication later
  user: root
  tasks:
  - template: src=roles/worker-node/templates/shosts.j2 dest=/root/.shosts mode=0444

- hosts: worker-nodes
  name: Prepare worker nodes for installation
  user: root
  roles:
    - common
    - certificates
  vars_files:
    - roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml
    - roles/common/vars/middleware/IGTF.yml
    - group_vars/passwords-{{ site_name }}.yml

- hosts: worker-nodes
  name: Apply Vanilla WN role
  user: root
  roles:
    - worker-node
  vars_files:
    - roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml
    - roles/common/vars/middleware/IGTF.yml
    - group_vars/passwords-{{ site_name }}.yml

- hosts: worker-nodes
  name: Apply Grid WN role
    - umd
    - emi-worker-node
  vars_files:
    - roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml
    - roles/common/vars/middleware/IGTF.yml
    - group_vars/passwords-{{ site_name }}.yml

- hosts: worker-nodes
  name: Munge to WN
  tasks:
  - name: Copy Munge key to the worker nodes
    sudo: true
    copy:
      src: "{{ lookup('env','PWD')}}/munge.key"
      dest: /etc/munge/munge.key
      mode: 0600
      owner: munge
      group: munge

- hosts: worker-nodes
  name: configure middleware with yaim
  sudo: true
  roles:
    - yaim
  vars_files:
    - roles/common/vars/distros/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml
    - roles/common/vars/middleware/IGTF.yml
    - group_vars/passwords-{{ site_name }}.yml
